body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Outfit', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


#carousel{
  max-height: 500px;
}

#features
{
    background-color: #fff;
    position: relative;
}

.feature-box
{
    padding: 5%;
}

.icon
{
    color: #EA8FEA;
    margin-bottom: 1rem;
}

.icon:hover
{
    color:#C92C6D;
}

.navFont
{
  font-family: 'Courgette', cursive;
}